/*CMS P2BJ*/
.user-block .username, .user-block .description {
    display: block;
    margin-left: 0px;
}
.img-post img {
	max-width: 150px;
	max-height: 150px;
}

/*--------------------------------------------------------*/
body {
    font-size: 12px !important;
}

.table thead th.text-middle {
	vertical-align: middle;
}
.box.box-white {
  border-top-color: #fff;
}

.form-control {
	border-radius: 3px;
}
.form-group {
	margin-bottom: 5px;
}
input[type="checkbox"], input[type="radio"] {
	margin: 8px 0 0;
}
.form-horizontal .control-label {
	text-align: left;
}

.breadcrumb {
	border-bottom: 3px solid #D2D6DE;
	background-color: #FFFFFF;
}

.no-flat {
	border-radius: 1px;
}

/* Box */
.box-header {
	background-color: #D2D6DE;
	color: #4C4C4C;
}
.box-spacing {
	padding-top: 10px;
}

/* Panel */
.panel-toolbar {
  	margin-top: -15px;
  	margin-left: -15px;
  	margin-right: -15px;
	border-radius: 0px;
}

/* Modal */
.modal-header {
	background-color: #D2D6DE;
	color: #4C4C4C;
}

.bs-callout {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger {
    border-left-color: #CE4844;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #605CA8 !important;
}

.sidebar-menu .treeview-menu > li > a {
    font-size: 12px !important;
}